/***** Variables *****/
$base-font-size: 16px;
$base-font-family: Arial, Helvetica, sans-serif;
$red: #ca1d1d;
$blue: #2a8fee;
$dark: #353535;
$light: #f1f1f1;

// $primary: $blue;
$primary: #bf5c9b;

body{
  margin: 0;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $dark;
  background-color: $light;
}
h1{
  font-size: $base-font-size * 4;
}
h2{ 
  font-size: $base-font-size * 3.5;
}
h3{ 
  font-size: $base-font-size * 3;
}

.bg-primary{
  background-color: $primary;
}

.text-primary{
  color: $primary
}
.btn-primary{
  background-color: $primary;
}